.split {
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin-bottom: 15px;
}

.gutter.gutter-vertical {
    background: url(../images/hsizegrip.png) center center no-repeat $form-control-background;
    cursor: row-resize;
}

.split-1 {
    overflow: hidden;
}