$tooltip-max-height: 300px;
$tooltip-max-width: 300px;
$material-icons-font-size: 16px;
$grid-breakpoints: (
  xs: 0,
  sm: 300px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


@import '@fontsource/fira-code/latin-400.css';

@import "xterm/css/xterm.css";
@import "./theme-superhero-before.scss";
@import "bootstrap/scss/bootstrap";
@import "./theme-superhero-after.scss";
// @import "bootstrap-icons/font/bootstrap-icons.css";
// @import 'material-icons/iconfont/filled.css';
// @import 'material-icons/iconfont/round.css';
// @import 'material-icons/iconfont/material-icons.css';
// @import 'material-icons/css/material-icons.css';

@import 'material-icons/iconfont/filled.css';
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

// @import "@fortawesome/fontawesome-free/css/all.css";
@import "./resizable.scss";

$material-icons-font-size: 16px;

body {
  font-family: 'Segoe UI', system-ui;
  margin: 1em;
}

.container-fluid {
  height: 95vh;
}

.h-95 {
  height: 95%;
}

.material-icons,
.material-icons-outlined {
  vertical-align: -6px;
}

#knownPeers {
  font-size: 14px;
  max-height: 150px;
  overflow: auto;
}

.editor,
.cm-editor,
.term,
.terminal {
  height: 100%;
}

.peer-ids>.input-group>.input-group-text {
  flex: 0 0 13%;
  min-width: 90px;
}

.form-select {
  background-color: $form-control-background;
  color: $form-control-color;
}

.form-floating>label {
  font-size: 18px !important;
  font-weight: 800 !important;
}

.form-floating>.form-control:not(:placeholder-shown):focus~label::after {
  background-color: $form-control-focus-background;
}

.form-floating>.form-control:placeholder-shown:focus~label::after {
  background-color: $form-control-focus-background;
}

.form-floating>.form-control:not(:placeholder-shown)~label::after {
  background-color: $form-control-background;
}

.form-control:focus {
  background-color: $form-control-focus-background;
  color: $form-control-color;
}

.form-control {
  background-color: $form-control-background;
  color: $form-control-color;
}

.form-control::placeholder {
  color: $form-control-color;
}