@import "xterm/css/xterm.css";
// @import "./theme-solar-before.scss";
$tooltip-max-height: 300px;
$tooltip-max-width: 300px;
$material-icons-font-size: 16px;
$grid-breakpoints: (
  xs: 0,
  sm: 300px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import "./theme-superhero-before.scss";
@import "bootstrap/scss/bootstrap";
@import "./theme-superhero-after.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'material-icons/iconfont/material-icons.css';
@import 'material-icons/css/material-icons.css';
@import "@fortawesome/fontawesome-free/css/all.css";
@import "./resizable.scss";

$material-icons-font-size: 16px;

// @import "./theme-solar-after.scss";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.material-icons,
.material-icons-outlined {
  vertical-align: -6px;
}

#terminal {
  // height: calc(100% - 100px);
  // overflow: hidden;
}

.term {
  height: 100%;
}

.terminal {
  // height: ca  lc(100% - 100px);
  // height: 100%;
  // overflow: hidden;
  // overflow: auto;
}

.xterm-viewport {
  // height: calc(100% - 100px);
  // overflow: hidden !important;
}

.xterm-screen {
  // height: calc(100vh - 150px) !important;
  // overflow: hidden !important;
}

.xterm-rows {
  // height: calc(100vh - 150px) !important;
  // overflow: hidden !important;
}

@media (min-width: 576px) {
  .container-fluid {
    // overflow: hidden;
  }
}

.editor {
  height: 100%;
  // overflow: auto;
}

.cm-scroller {
  // overflow: auto;
  // height: 100%;
}

.cm-editor {
  height: 100%;
  // height: calc(100%);
  // overflow: auto;
}

body {
  //   line-height: 1.5;
  //   font-weight: 400;
  //   margin: 0;
  //   padding: 1em;
}

body {
  font-family: "Calibri", "Roboto", sans-serif;
  font-family: Inter, system-ui;
  font-weight: 300;
  margin: 0;
  padding: 1em;
  word-break: break-word;
}

// .camera-button::file-selector-button {
//   display: none;
// }

.camera-button {
  display: none;
}

.camera-label {
  display: block;

  /* Styles to make it look like a button */
  padding-top: 10px;
}


.peer-ids>.input-group>.input-group-text {
  flex: 0 0 13%;
  min-width: 90px;
}

.form-select {
  background-color: $form-control-background;
  color: $form-control-color;
}


label {
  font-size: 18px !important;
  font-weight: 800 !important;
}

.form-floating>.form-control:not(:placeholder-shown):focus~label::after {
  background-color: $form-control-focus-background;
}

.form-floating>.form-control:placeholder-shown:focus~label::after {
  background-color: $form-control-focus-background;
}

// label:focus {
//   background-color: $form-control-focus-background !important;
// }

.form-floating>.form-control:not(:placeholder-shown)~label::after {
  background-color: $form-control-background;
}

.form-control:focus {
  background-color: $form-control-focus-background;
  color: $form-control-color;
}

.form-control {
  background-color: $form-control-background;
  color: $form-control-color;
}

.form-control::placeholder {
  color: $form-control-color;
}

#knownPeers {
  font-size: 14px;
  max-height: 150px;
  overflow: auto;
}


/*


* {
  box-sizing: border-box;
}

.input-group {
  margin-top: 30px;
  position: relative;
}

.input-group {
  position: relative;
}

.input-group-addon {
  border: none;
}

.linkname {
  display: none;
}

#copyButton {
  cursor: pointer;
  background: #f1bb3a;
}

#copyTarget {
  border-left: none;
}

.copied {
  display: none;
opacity: 1;
position: absolute;
right: 100px;
}

@media (min-width: 768px) {
  .copied {
      bottom: 50px;
      right: 50px;
  }

  .linkname {
      display: block;
      background: #3b3e45;
      color: #fff;
  }
}



code {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
}

h2 {
  color: #444;
  font-weight: 500;
}

h3 {
  border-top: 1px solid #eee;
  color: #666;
  font-weight: 500;
  margin: 10px 0 10px 0;
  white-space: nowrap;
}

li {
  margin: 0 0 0.4em 0;
}

*/