.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #dc7f0e;
  --bs-btn-border-color: #3b2303;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #eab46f;
  --bs-btn-hover-border-color: #e9b067;
  --bs-btn-focus-shadow-rgb: 196, 142, 73;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ebb978;
  --bs-btn-active-border-color: #e9b067;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e6a756;
  --bs-btn-disabled-border-color: #3a2f29;
}