$white: #fff;
$gray-100: #EBEBEB;
$gray-200: #4E5D6C;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #DF691A;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #f0ad4e;
$green: #5cb85c;
$teal: #20c997;
$cyan: #5bc0de;
$primary: $blue;
$secondary: $gray-200;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: lighten($gray-200, 35%);
$dark: $gray-200;
$body-color: $gray-100;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $table-hover-bg;
$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: $white;